@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html {
	height: 100%;
}
/*
http://css-tricks.com/centering-in-the-unknown/
*/
body {
	font-family: 'Varela Round', sans-serif;
}
.margin {
	margin: 1em;	
}
.found-urls td:nth-child(1), .found-urls th:nth-child(1) {
    width: 5rem;
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) {
	body {
		text-align: center;
		height: 100%;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6
			100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
			color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1),
			color-stop(100%, #f6f6f6)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%,
			#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6
			100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6
			100%); /* IE10+ */
		background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6
			100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
			endColorstr='#f6f6f6', GradientType=0); /* IE6-9 */
	}
	.container-fluid {
		display: inline-block;
		margin-top: 3em;
		vertical-align: middle;
		border: 0.2em solid #BBBBBB;
		padding: 3em;
		background: #FFFFFF;
		border-radius: 2em;
		-moz-border-radius: 2em; /* Firefox 3.6 and earlier */
		/* Creating the shadows */
		box-shadow: 0 0 5em #888888;
		-moz-box-shadow: 0 0 5em #888888;
		-webkit-box-shadow: 0 0 5em #888888;
		width: 98%
	}
	/* Styles */
}